#index-forms {
  max-width: 330px;
  padding: 100px 15px 15px;
  margin: 0 auto;
}

a#sign-out {
	color: #999999;
}

a#sign-out:hover {
	color: #F8F8F8;
}

body {
  padding-top: 50px;
}

.starter-template {
  padding: 20px 15px 15px;
  text-align: center;
}

p.mylead {
	margin: 0 auto;
    width: 67%;
}

.marketing {
	margin: 0 auto;
    width: 50%;
}

#radio-male {
	margin-top: 0px;
}

.sign-up {
	margin: 0 auto;
    width: 30%;
	padding-top:40px;
}

#college {
	margin-bottom: 10px;
}

.control-group {
    margin-bottom: 1em;
}

hr {
    background: none repeat scroll 0 0 #C3C3C3;
    border: medium none;
    height: 1px;
    margin-bottom: 1.5em;
	-moz-box-sizing: content-box;
}

#search-assessors {
	margin-top: 20px;
	border: 1px solid #222222;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	padding: 10px;
}

#search-assessors h2 {
	margin-top: 4px;
	text-align: center;
	margin-bottom: 6px;
}

#search-assessors hr {
	margin-top: 3px;
	margin-bottom: 0px;
	text-align: center;
}

#search-assessors label.label-filter-item {
	margin-top: 15px;
}

#radio-online, #radio-any {
	padding-top: 0px;
}

#search-assessors .control-group {
	margin-bottom: 0;
}

#search-assessors .btn {
	margin-top: 20px;
}

#table-accesors {
	margin-top: 20px;
}

#table-accesors table, #table-accesors tr, #table-accesors td {
	background-color: #FAFAFA;
}

#table-request-list {
    margin-top: 20px;
}

#table-request-list table, #table-request-list tr, #table-request-list td {
    background-color: #FAFAFA;
}

#table-reviews  table, #table-reviews tr, #table-reviews td {
    background-color: #FAFAFA;
}

#table-trips-list {
    margin-top: 20px;
}

#table-trips-list table, #table-trips-list tr, #table-trips-list td {
    background-color: #FAFAFA;
}

#table-personal-schedule table, #table-personal-schedule tr, #table-personal-schedule td {
    background-color: #FAFAFA;
}

#table-personal-schedule th {
    background-color: #EEEEEE;
}

#table-personal-schedule td:first-child {
    text-align: center;
    vertical-align: middle;
}

#table-accesors td {
	text-align: center;
    vertical-align: middle;
}

#table-accesors table
{
    border-collapse: separate !important;
}

#table-request-list td:not(:first-child) {
    text-align: center;
    vertical-align: middle;
}

#table-reviews td:not(:nth-child(2)) {
    text-align: center;
    vertical-align: middle;
}

#table-trips-list td {
    text-align: center;
    vertical-align: middle;
}

#table-trips-list table {
    border-collapse: separate !important;
}

#table-request-list table
{
    border-collapse: separate !important;
}

#table-reviews  table
{
    border-collapse: separate !important;
}

.table-search-profile-image {
	width: 70px;
	float: left;
}

.table-search-profile-info {
	width: 259px;
	float: left;
	padding-left: 5px;
}

.table-request-list-profile-info {
    width: 149px;
    float: left;
    padding-left: 5px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

img#driver-foto-in-profile {
	float: left;
	width: 240px;
	margin-left: 10px;
}

#driver-card {
	width: 250px;
	float: left;
}

a.link-order-taxi {
	width: 210px;
    margin-bottom: -1px;
    margin-top: 25px;
}

a#link-rating {
	font-size: 20px;
    margin-right: 4px;
}

hr#last-hr-profile-driver {
	margin-top: 7px;
}

#table-personal-schedule table, #table-personal-schedule form {
     width: 600px;
}

#table-personal-schedule button {
    float: right;
    margin-top: -7px;
}

#radio-any-direction {
    padding-bottom: 7px;
}

a.refuse-request {
    width: 92px;
    margin-top: 8px;
}

#radio-active-trips {
    padding-top: 0px;
}

#radio-any-direction {
    padding-top: 0px;
}

#table-trips-list {
    width: 500px;
}

a#create-trip {
    float: left;
    margin-bottom: 10px;
}

a#delete-trip {
    float: left;
    margin-bottom: 10px;
}

label.label-modal-item {
    margin-top: 16px;
}

#radio-seversk-tomsk-modal {
    margin-top: 0px;
}

label#last-label-modal-item {
    margin-top: 4px;
}

a.send-private-message {
    width: 210px;
    float: left;
    margin-top: 14px;
}

label#textPrivateMessage-label {
    margin-top: 12px;
    margin-bottom: 3px;
}

span.time-mesage {
    font-weight: bold;
    float: right;
}

.message {
    margin-top: 25px;
}

.col-lg-8 > div.message:first-of-type {
    margin-top: 0px;
}

input#send-private-message-button {
    margin-top: 15px;
    width: 130px;
    margin-left: 2px;
}

textarea#textPrivateMessage {
    width: 600px;
}

a.ratiing-button {
    height: 40px;
    width: 40px;
    font-size: 20px;
    margin-right: 3px;
    margin-top: -8px;
}

a#minus-rating-button {
    padding-top: 3px;
}

label#label-rating {
    padding-bottom: 5px;
}

a#link-recover-password {
    margin-left: 5px;
}

#edit-profile {
    width: 32%;
}

#div-automatically-create-trip {
    margin-bottom: 15px;
    margin-left: 1px;
}

a#read-feedback {
    font-size: 16px;
}

#form-search-assessors .radio
{
    padding-top: 0;
}

#map-container {
    margin-top: 30px;
    background-color: #eee;
}

h2#h2-table
{
    margin-top: 30px;
}

ul.my-pagination {
    margin-top: 0;
}

g.datamaps-subunits path.datamaps-subunit
{
    fill: #41649B !important;
}

g.datamaps-subunits path.datamaps-subunit:hover
{
    fill: black !important;
}

circle.datamaps-bubble
{
    /*fill: #B77400 !important;*/
    fill: #D00006 !important;
    fill-opacity: 1 !important;
    stroke: #FC0006 !important;
}

.col-filter-form
{
    border-radius: 12px;
    border: 1px solid #222222;
    margin-left: 1% !important;
    margin-right: 1% !important;
    width: 31%;
    padding-bottom: 20px;
}

.row-filter-form
{
    margin: 0 auto !important;
}

h1#h1-list-of-assessors
{
    margin-top: 30px;
}

/*backgrid-select-all.min.css*/
.backgrid .select-row-cell, .backgrid .select-all-header-cell
{
    text-align: center;
}

button.remove-task-category-item {
    margin-top: 0px !important;
}

.selected-task-category option {
    border-bottom: 1px dotted;
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
}

input.accuracy-of-job
{
    display: inline-block;
    margin-right: 10px;
    width: 29%;
}

hr.task-category-delimiter
{
    border: 1px solid #222222;
    margin-top: 10px !important;
    height: 0;
}

button.button-hide-page
{
    margin-top: 15px;
}

button.button-show-page
{
    margin-top: 15px;
}

input.update-interval
{
    width: 100% !important;
}

div.div-update-interval
{
    margin-top: 13px;
}

.show-page-button-and-form-update-interval {
    left: 65%;
    position: absolute;
}