<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="./assets/ico/favicon.png">

    <title>Поиск асессоров</title>

    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="./css/signin.css" rel="stylesheet">
    <link href="./css/backgrid.css" rel="stylesheet">
    <link href="./css/backgrid-paginator.css" rel="stylesheet">
    <link href="./css/backgrid-text-cell.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">

    <script src="./js/lib/jquery-1.11.1.min.js"></script>
    <script src="./js/lib/bootstrap.min.js"></script>

    <script id="regionItemView" type="text/template">
        <option value="<%= region_id %>"><%= region_name_ru %></option>
    </script>

    <script id="taskCategoryItemView" type="text/template">
        <option value="<%= typeId %>"><%= typeNameRu %></option>
    </script>

    <script src="js/lib/underscore-min.js"></script>
    <script src="js/lib/backbone-min.js"></script>
    <script src="js/lib/backbone.paginator.min.js"></script>
    <script src="js/lib/backgrid.js"></script>
    <script src="js/lib/backgrid-paginator.js"></script>
    <script src="js/lib/backgrid-text-cell.js"></script>
    <script src="js/lib/Blob.js"></script>
    <script src="js/lib/FileSaver.min.js"></script>
    <script src="js/lib/backgrid-select-all.min.js"></script>

    <script src="./js/lib/d3.v3.min.js"></script>
    <script src="./js/lib/topojson.v1.min.js"></script>
    <script src="./js/lib/datamaps.world.min.js"></script>

    <script src="js/models/assessor.js"></script>
    <script src="js/models/region.js"></script>
    <script src="js/models/map.js"></script>
    <script src="js/models/task-category.js"></script>
    <script src="js/collections/utils-collection.js"></script>
    <script src="js/collections/assessors-collection.js"></script>
    <script src="js/collections/regions-collection.js"></script>
    <script src="js/collections/map-collection.js"></script>
    <script src="js/collections/task-categories-collection.js"></script>
    <script src="js/views/region.js"></script>
    <script src="js/views/regions-collection.js"></script>
    <script src="js/views/task-category.js"></script>
    <script src="js/views/task-categories-collection.js"></script>
    <script src="js/views/grid.js"></script>
    <!--<script src="js/views/map.js"></script>-->
    <script src="js/app.js"></script>

    <script src="./js/lib/common-scripts.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="./assets/js/html5shiv.js"></script>
    <script src="./assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Список асессоров</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="#">Меню 1</a></li>-->
                <!--<li><a href="#about">Меню 2</a></li>-->
                <li><a href="/map-page.html">Карта</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div class="container">
    <div class="col-lg-12" id="search-assessors">
        <h2 class="col-centered">Фильтры поиска</h2>
        <form id="form-search-assessors" class="form-horizontal" role="form">

            <div class="row row-filter-form">
                <div class="col-lg-4 form-group col-filter-form">
                    <label class="label-filter-item">Онлайн: </label>
                    <div class="radio" id="radio-any-online">
                        <label>
                            <input type="radio" name="onlineChoice" value="nothing" checked>
                            Неважно
                        </label>
                    </div>
                    <div class="radio" id="radio-online">
                        <label>
                            <input type="radio" name="onlineChoice" value="true">
                            On-line
                        </label>
                    </div>
                    <div class="radio" id="radio-offline">
                        <label>
                            <input type="radio" name="onlineChoice" value="false">
                            Off-line
                        </label>
                    </div>
                </div>

                <div class="col-lg-4 form-group col-filter-form">
                    <label class="label-filter-item">Регион:</label>
                    <select class="form-control" id="regions-select" name="region-select">
                        <option selected> </option>
                    </select>
                </div>

                <div class="col-lg-4 form-group col-filter-form">
                    <label class="label-filter-item">Количество плюсов в карме от:</label>
                    <div class="control-group">
                        <input id="score-positive-number" name="score-positive-number" type="number" min="0" max="9999" step="1" value="0" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row row-filter-form">
                <div class="col-lg-4 form-group col-filter-form">
                    <label class="label-filter-item">Количество минусов в карме до:</label>
                    <div class="control-group">
                        <input id="score-negative-number" name="score-negative-number" type="number" min="0" max="9999" step="1" class="form-control">
                    </div>
                </div>

                <div class="col-lg-4 form-group col-filter-form">
                    <label class="label-filter-item">Количество черепов от:</label>
                    <div class="control-group">
                        <input id="skull-from-number" name="skull-from-number" type="number" min="0" max="9999" step="1" value="0" class="form-control">
                    </div>
                </div>

                <div class="col-lg-4 form-group col-filter-form">
                    <label class="label-filter-item">Количество черепов до:</label>
                    <div class="control-group">
                        <input id="skull-to-number" name="skull-to-number" type="number" min="0" max="9999" step="1" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row row-filter-form">
                <div class="col-lg-4 form-group col-filter-form">
                    <label class="label-filter-item">Опыт работы от (мес.):</label>
                    <div class="control-group">
                        <input value="0" id="experience-from" name="experience-from" type="number" min="0" max="9999" step="1" class="form-control">
                    </div>
                </div>

                <div class="col-lg-4 form-group col-filter-form">
                    <label class="label-filter-item">Опыт работы до (мес.):</label>
                    <div class="control-group">
                        <input id="experience-to" name="experience-to" type="number" min="0" max="9999" step="1" class="form-control">
                    </div>
                </div>

                <div class="col-lg-4 form-group col-filter-form">
                    <label class="label-filter-item">Число оценок в месяц от:</label>
                    <div class="control-group">
                        <input value="0" id="evaluation-per-month" name="evaluation-per-month" type="number" min="0" max="9999" step="1" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row row-filter-form">
                <div class="col-lg-4 form-group col-filter-form">
                    <label class="label-filter-item">Количество звёздочек от:</label>
                    <div class="control-group">
                        <input id="star-from-number" name="star-from-number" type="number" min="0" max="9999" step="1" value="0" class="form-control">
                    </div>
                </div>

                <div class="col-lg-4 form-group col-filter-form">
                    <label class="label-filter-item">Количество звёздочек до:</label>
                    <div class="control-group">
                        <input id="star-to-number" name="star-to-number" type="number" min="0" max="9999" step="1" class="form-control">
                    </div>
                </div>

                <div class="col-lg-4 form-group col-filter-form">
                    <label class="label-filter-item">Типы заданий:</label>
                    <select class="form-control" id="task-categories-select" name="task-categories-select">
                        <option selected> </option>
                    </select>

                    <label class="label-filter-item child-task-categories-item hide">Типы подзаданий:</label>
                    <select class="form-control child-task-categories-item hide" id="child-task-categories-select" name="child-task-categories-select">
                        <option selected> </option>
                    </select>

                    <hr class="child-task-categories-item hide task-category-delimiter" />

                    <div id="selected-task-categories"></div>
                </div>
            </div>

            <div class="row row-filter-form">
                <div class="col-lg-4 pull-right">
                    <button id="search-assessors-button" class="btn btn-lg btn-success btn-block">Поиск</button>
                </div>
            </div>

        </form>
    </div>

    <span class="clearfix"></span>


    <div class="col-lg-12">
        <h1 id="h1-list-of-assessors">Список асессоров</h1>

        <div id="table-accesors">
            <!--<h2 class="hide" id="h2-table-2">Найденные асессоры</h2>-->

            <div id="grid"></div>
            <div id="paginator"></div>

            <div class="row">
                <button class="send-email hide btn btn-success btn-lg pull-left">Послать письмо</button>

                <button class="donwload-assessors hide btn btn-success btn-lg pull-right">Выгрузить</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>